/*elements-classes*/
html  {
  overflow: auto;
}
main  {
    height: 700px !important;
    position: relative;
    display: table;
    width: -webkit-fill-available;
}
input {
   border-radius: 0;
   border: #80808014 solid 1px !important;
   margin: 5px;
}
/*css-classes*/
.my-3 {
  margin-top:10vw !important;
}
.center{
  margin-left: auto !important;
  margin-right: auto !important;
  display: -webkit-inline-box !important;
}
/*ID-classes*/
#nav a {
    font-weight: bold;
    color: #eef6fe ;
}
#nav a:visited {
    font-weight: bold;
    color: #ffffff ;
}
#nav a.router-link-exact-active {
    color: #2ee5ff !important;
}
